<section class="bg-black text-light footer">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-4 text-start">
        <h3>GET IN TOUCH</h3>
        <p><i class="fa-solid fa-envelope"></i> yd.radwan&#64;gmail.com</p>
        <p><i class="fa-solid fa-phone"></i> 01003896598</p>
      </div>
      <div class="col-4 text-center">
        <button class="btn btn-outline-light">CONTACT ME</button>
      </div>
      <div class="col-4 text-end">
        <div>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
        <p>Copyright to shady radwan</p>
      </div>
    </div>
  </div>
</section>
