<section class="container skills p-5">
  <div class="d-flex flex-column align-items-center justify-content-center">
    <div class="my-4"><h1>Skills</h1></div>
    <div class="my-4">
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries but also the leap into electronic typesetting, remaining
        essentially unchanged. It was popularised in the 1960s with the release
        of Letraset sheets containing Lorem Ipsum passages,
      </p>
    </div>
    <div class="d-flex secc">
      <div class="my-focus">
        <div class="row d-flex justify-content-between">
          <div class="col-md-4 d-flex flex-column justify-content-center">
            <div class="focus-title">MY FOCUS</div>
            <hr />
            <div class="focus-subtitle">
              <div>Web Development</div>
              <div>Single Page Application</div>
              <div>Backend Applications</div>
              <div>API's</div>
              <div>Designing Databases</div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="skill">
              <div>HTML</div>
              <div class="progress">
                <div
                  class="progress-bar progress-bar-html"
                  role="progressbar"
                ></div>
              </div>
            </div>
            <div class="skill">
              <div>CSS</div>
              <div class="progress">
                <div
                  class="progress-bar progress-bar-css"
                  role="progressbar"
                ></div>
              </div>
            </div>
            <div class="skill">
              <div>JavaScript</div>
              <div class="progress">
                <div
                  class="progress-bar progress-bar-js"
                  role="progressbar"
                ></div>
              </div>
            </div>
            <div class="skill">
              <div>React</div>
              <div class="progress">
                <div
                  class="progress-bar progress-bar-react"
                  role="progressbar"
                ></div>
              </div>
            </div>
            <div class="skill">
              <div>Photoshop</div>
              <div class="progress">
                <div
                  class="progress-bar progress-bar-photoshop"
                  role="progressbar"
                ></div>
              </div>
            </div>
            <div class="skill">
              <div>Adobe XD</div>
              <div class="progress">
                <div
                  class="progress-bar progress-bar-adobe-xd"
                  role="progressbar"
                ></div>
              </div>
            </div>
            <div class="skill">
              <div>Node.js</div>
              <div class="progress">
                <div
                  class="progress-bar progress-bar-nodejs"
                  role="progressbar"
                ></div>
              </div>
            </div>
            <div class="skill">
              <div>WordPress</div>
              <div class="progress">
                <div
                  class="progress-bar progress-bar-wordpress"
                  role="progressbar"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
