<section class="bg-light secc">
  <div class="container">
    <h2>Portfolio</h2>
    <div class="mt-5">
      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="card card-custom">
            <h5>WEB DESIGN</h5>
            <hr />
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card card-custom" style="background-color: #343a40">
            <h5>MOBILE DESIGN</h5>
            <hr />
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card card-custom">
            <h5>LOGO DESIGN</h5>
            <hr />
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card card-custom" style="background-color: #343a40">
            <h5>WEB APPLICATION DEVELOPMENT</h5>
            <hr />
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card card-custom">
            <h5>MOBILE APPLICATION DEVELOPMENT</h5>
            <hr />
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card card-custom" style="background-color: #343a40">
            <h5>PWA DEVELOPMENT</h5>
            <hr />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
